<div class="container">
    <span>Participants:</span>
    <mat-slider [min]="minParticipants" [max]="maxParticipants"></mat-slider>
    <span>Accessability:</span>
    <mat-slider min="1" max="100"></mat-slider>
    <span>Activity type:</span>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Any</mat-radio-button>
        <br />
        <mat-radio-button
            *ngFor="let activity of activityList"
            [value]="activity"
            >{{ activity }}</mat-radio-button
        >
    </mat-radio-group>
    <button mat-button><i class="fas fa-search"></i>SEARCH</button>
</div>
