.inner-container {
    font: 400 24px/28px Roboto;
    color: #fff;
}
.primary-button {
    margin-top: 40px !important;
}
.mat-radio-button {
    margin: 8px;
    justify-content: space-evenly;
    width: 29%;
}
