.logo {
    color: #fff;
    letter-spacing: 0.1em;
    font: 100 35px/30px Roboto;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10vh;

    .logo-2nd-part {
        font: 500 33px/35px Roboto;
        letter-spacing: 0.091em;
    }
}
