/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: linear-gradient(94.52deg, #afbf81 0%, #3a8a46 100%);
}
@media only screen and (min-width: 600px) {
    .example {
        background: red;
    }
}
.container {
    width: 450px;
    margin: 12vh auto 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .container {
        width: 300px;
    }
}

.fas {
    padding-bottom: 3px;
    padding-right: 8px;
}

// mat-slider
.mat-accent .mat-slider-track-fill {
    background-color: #fff !important;
}

.mat-slider-thumb-label {
    background-color: #fff !important;
}

.mat-slider-thumb {
    background-color: #fff !important;
}

// mat-radio-button
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #fff;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: #fff;
    background-color: #fff;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #fff;
}
.mat-radio-label-content {
    color: #fff;
}

// mat-button

.mat-button {
    font: 500 16px/19px Roboto;
    height: 42px;
    border-radius: 6px;
}

.mat-button.mat-button-disabled.mat-button-disabled {
    color: #808080;
}

.primary-button {
    background-color: #fff;
    color: #306028;
}
